@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  4% {
    transform: translateY(0);
  }
  6% {
    transform: translateY(1px);
  }
  10% {
    transform: translateY(-5px);
  }
  13% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-2px);
  }
  17% {
    transform: translateY(0);
  }
  18% {
    transform: translateY(-1px);
  }
  19% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.footer {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  // z-index: 333;

  .navigation {
    flex: none;

    width: 85%;
    height: 60%;

    display: flex;
    justify-content: space-between;

    .nav-button {
      flex: none;
      height: 100%;
      cursor: pointer;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-evenly;

      .nav-text {
        color: #e1e1e5;

        .nav-text-color {
          color: #b00020;
        }
      }

      .nav-icon {
        font-size: 24px;
      }

      .bounce {
        animation-name: bounce;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }
  }
}

.side-bar {
  position: absolute;

  top: 0;
  bottom: 70px;

  overflow: auto;
}
