.progress-bar {
  display: flex;
  flex-flow: row nowrap;
  background-color: #f5f5f5;

  // border-radius: 55px;
  .highlight {
    flex: 1 0 auto;
    height: 8px;
    border-bottom: 2px solid var(--primary-0);
    background-color: var(--primary-0);
    transform-origin: left;

    transition: transform 350ms ease-out;
  }
  .non-highlight {
    flex: 1 0 auto;
    height: 8px;
    background-color: var(--surface-4);
  }
}
