.week {
  position: relative;

  &.openChange {
    background-color: #939393;
  }
  .week-header {
    width: 100%;
    height: 67px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 20px;
    .week-header-arrows {
      cursor: pointer;
    }
    .week-title {
      display: flex;
      align-items: center;
    }
    .week-count {
      display: flex;
      [red] {
        color: var(--primary-0);
      }
    }
  }

  .week-mymission {
    width: 100%;
    height: auto;
    padding: 12px 16px;
    border-bottom: solid 8px #f5f5f5;
    .week-mymission-title {
      padding-bottom: 4px;
    }
    .week-mymission-input {
      padding-top: 8px;
      border: none;
      resize: none;
      width: 100%;
      height: 58px;
      overflow: visible;
      color: var(--primary-0);
    }
  }
  .week-analysis-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    .week-core-mission-wrapper {
      width: 100%;
      display: flex;
      .week-core-mission {
        width: 100%;
        min-width: 360px;
        height: auto;
        padding: 12px 16px;
        border-bottom: solid 8px #f5f5f5;
        .week-core-mission-title {
          padding-bottom: 4px;
          color: var(--primary-0);
        }
        .week-core-mission-sub {
          padding-bottom: 4px;
          color: #6b6b6b;
        }
        .week-core-mission-input {
          padding-top: 8px;
          border: none;
          resize: none;
          width: 100%;
          height: 58px;
          overflow: visible;
          // color: var(--primary-0);
        }
      }
    }
    .week-look-inside-wrapper {
      width: 100%;
      display: flex;
      .week-look-inside {
        width: 100%;
        min-width: 360px;
        height: auto;
        padding: 12px 16px;
        border-bottom: solid 8px #f5f5f5;
        .week-look-inside-title {
          padding-bottom: 4px;
        }
        .week-look-inside-sub {
          padding-bottom: 4px;
          color: #6b6b6b;
        }
        .week-look-inside-input {
          padding-top: 8px;
          border: none;
          resize: none;
          width: 100%;
          height: 58px;
          overflow: visible;
        }
      }
    }
    .week-main-focus-wrapper {
      width: 100%;
      display: flex;
      .week-main-focus {
        width: 100%;
        min-width: 360px;
        height: auto;
        padding: 12px 16px;
        border-bottom: solid 8px #f5f5f5;
        .week-main-focus-title {
          padding-bottom: 4px;
          color: var(--primary-0);
        }
        .week-main-focus-sub {
          padding-bottom: 4px;
          color: #6b6b6b;
        }
        .week-main-focus-input {
          padding-top: 8px;
          border: none;
          resize: none;
          width: 100%;
          height: 58px;
          overflow: visible;
        }
      }
    }
  }
  .week-write-change {
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 12px 16px;
    .week-write-change-button {
      width: 76px;
      height: 40px;
      // margin-top: 8px;
      background: #ffff;
      border-radius: 999px;
      border: 1px solid var(--primary-0);
      color: #b00020;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .week-plan {
    width: 100%;
    height: auto;

    padding: 12px 16px;
    border-bottom: solid 8px #f5f5f5;
    .week-plan-title {
      padding-bottom: 4px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      // color: var(--primary-0);
    }
    .week-plan-sub {
      padding-bottom: 4px;
      color: #6b6b6b;
    }
    .week-plan-list {
      width: 100%;
      height: auto;
      // border: 1px red solid;
      .week-plan-list-item {
        width: 100%;
        height: 72px;

        display: flex;
        align-items: center;
        background: #ffffff;
        cursor: pointer;
        /* Line */

        border-top: 1px solid #e7e7e7;
        .week-plan-list-item-type {
          width: 40px;
          height: 40px;

          margin: 16px;

          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--secondary-4);
          border-radius: 50%;
          color: #fff;
        }
      }
    }
    .week-plan-plus {
      cursor: pointer;
    }
  }
  .week-statistics {
    width: 100%;
    padding: 12px 0;
    // height: 2;
    display: flex;
    flex-direction: column;

    .week-statistics-header {
      padding: 13px 16px;
      .week-statistics-header-title {
        padding-bottom: 6px;
      }
      .week-statistics-header-sub {
        color: #6b6b6b;
      }
    }
    .week-statistics-core {
      padding: 13px 16px;
      .week-statistics-core-title {
        padding-bottom: 6px;
      }
      .week-statistics-core-sub {
        color: #6b6b6b;
      }
      .week-statistics-core-progress {
        // border: 1px red solid;
        // border-radius: 32px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding-top: 12px;
        .progress-bar-wrapper {
          width: 140px;
          background-color: #f5f5f5;
        }
        .week-statistics-core-progress-percent {
        }
      }
    }
  }
}
